**/.git
**/.gitignore
**/.vscode
**/node_modules
**/dist
**/.next
**/out
**/.vercel
**/README.md
**/Dockerfile
**/docker-compose*
**/.env*
**/.env.local
**/.env.*.local
**/.env.**
**/npm-debug.log*
**/yarn-error.log*
**/pnpm-debug.log*