**/.git
**/.gitignore
**/.idea
**/*.iml
**/target
**/node_modules
**/__pycache__
**/.env
**/.env.*
**/.DS_Store
**/docker-compose*.yml
**/nginx
**/grafana
**/prometheus
**/certbot
**/.github
**/.config