server:
  port: 8080
spring:
  profiles:
    active: dev
  application:
    name: mailmine
  mail:
    host: smtp.gmail.com
    port: 587
    username: ${GMAIL_USERNAME}
    password: ${GMAIL_PASSWORD}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
          ssl:
            enable: false
          connectiontimeout: 5000
          timeout: 5000
          writetimeout: 5000
  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://${POSTGRES_URL}
    username: ${POSTGRES_USERNAME}
    password: ${POSTGRES_PASSWORD}
    hikari:
      maximum-pool-size: 10
      minimum-idle: 2
      idle-timeout: 30000
      max-lifetime: 1800000
  flyway:
    baseline-on-migrate: true
    baseline-version: 1
  jpa:
    open-in-view: false
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
  docker:
    compose:
      enabled: false
      file: docker-compose.yml

cors:
  allowed-origins: ${CORS_ALLOWED_ORIGINS}
  allowed-methods: ${CORS_ALLOWED_METHODS}
  allowed-headers: ${CORS_ALLOWED_HEADERS}
  exposed-headers: ${CORS_EXPOSED_HEADERS}

management:
  endpoints:
    web:
      exposure:
        include:
        - "health"
        - "info"

security:
  jwt:
    secret-key: ${JWT_SECRET_KEY}
    access-expiration-minutes: 15
    refresh-expiration-days: 7
    issuer: ${JWT_ISSUER}

env:
  page-size: 25

selenium:
  chrome:
    binary:
      path: ${CHROME_BINARY_PATH}
    driver:
      path: ${CHROME_DRIVER_PATH}

google:
  search:
    results-per-page: 10
    max-pages: 3

springdoc:
  api-docs:
    path: /v3/api-docs
  swagger-ui:
    path: /swagger-ui.html
    operations-sorter: method
    tags-sorter: alpha
    try-it-out-enabled: true
    filter: true
    display-request-duration: true